<div class="container">
  <h2>Book an Atelier...</h2>
  <%= simple_form_for [@skill, @atelier], url: user_skill_ateliers_path, html: { class: "form-group"} do |f| %>
    <% if @atelier.errors.any? %>
      <div id=“error_explanation”>
        <ul>
        <% @atelier.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-inputs">
      <%= f.input :date, input_html: { placeholder: "When's this going down?", class: 'form-control' } %>
    </div>

    <div class="form-actions">
      <%= f.submit class: "btn btn-success" %>
    </div>
  <% end %>
  <%= link_to 'Back', user_ateliers_path(current_user) %>
</div>
