<div class="container">
  <h2>Atelier Message Centre</h2>

  <div class="tabs">
    <a href="#" class="tab active">Action Required</a>
    <a href="#" class="tab">Completed</a>
  </div>
    <ul class="inbox">
      <% @ateliers.each do |atelier| %>
        <li class="message">
        <img src="https://picsum.photos/200/300/?gravity=east" alt="" class="avatar-large">
          <div class="message-name">
            <p><%= atelier.user.first_name %> <%= atelier.user.last_name %></p>
            <p>Date: TBD</p>
          </div>
          <div class="message-body">
            <p><strong>Pertaining to:</strong></p>
            <p> On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
          </div>
          <div class="message-status">
            <h4>Status</h4>
            <p class="status accepted">Pending</p>
          </div>
        <!-- <li class="message">
        <img src="https://picsum.photos/200/300/?gravity=east" alt="" class="avatar-large">
          <div class="message-name">
            <p><%= atelier.user.first_name %> <%= atelier.user.last_name %></p>
            <p>Date: TBD</p>
          </div>
          <div class="message-body">
            <p><strong>Pertaining to:</strong></p>
            <p> On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
          </div>
          <div class="message-status">
            <h4>Status</h4>
            <p class="status accepted">Pending</p>
          </div>
        <li class="message">
        <img src="https://picsum.photos/200/300/?gravity=east" alt="" class="avatar-large">
          <div class="message-name">
            <p><%= atelier.user.first_name %> <%= atelier.user.last_name %></p>
            <p>Date: TBD</p>
          </div>
          <div class="message-body">
            <p><strong>Pertaining to:</strong></p>
            <p>On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>
          </div>
          <div class="message-status">
            <h4>Status</h4>
            <p class="status accepted">Pending</p>
          </div> -->
        </li>
      <% end %>
    </ul>
  </div>


<div class="tabs">
  <a href="#" class="tab active"> Ready for more? </a>
  <a href="#" class="tab"><%= link_to 'Well, click here to browse all skills.', skills_path %></a>
</div>

